<!DOCTYPE HTML>
<html>
<head>
    <title>Contact list</title>
    <style>
        h1 {
            margin: 10px;
        }

        div {
            margin: 10px;
        }
    </style>

</head>

<body>

<h1>Hello!</h1>

<div>
    <p>This is a simple "contact list" web application that allows:</p>
    <ul>
        <li>Listing people (name and photo)</li>
        <li>Searching by name</li>
        <li>Paging</li>
    </ul>

    <p><i>addition/removal/editing wasn't implemented, because they are out of scope of this task.</i></p>

    <a href="/listPersons">To go to the list of persons click on this link.</a>
</div>

</body>
</html>